{% load static %}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/photo.jpg' %}" height="100px" width="100px" alt="ProfilePhoto" class="img-fluid rounded-circle mt-5">
    </div>
    <h4 class="text-white mt-4 text-center st-font">Rajat Kumar Saran</h3>
    <hr class="border-light">
   <nav class="nav flex-column text-center">
       <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
       <a href="{% url 'services' %}" class="nav-link {{serv}}">Services</a>
       <a href="{% url 'skill' %}" class="nav-link {{skill}}">Skills</a>
       <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>

   </nav>       
</div>