{% extends 'core/base.html' %}
{% block content  %} 
<div class="mt-5 container">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
<div class="row text-center text-white">
    <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
        <h3>DATEBASE MANAGEMENT</h3>
        <p>Integrating databases into the application to store and retrieve data efficiently. This involves handling data processing, storage, and retrieval operations.</p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-palette fa-2x mb-3 i-color"></i>
        <h3>Web Design</h3>
        <p>Designing and writing code for server-side, client-side, and operator-side applications. This involves implementing the necessary features and functionalities as per the project requirements.</p>
    </div> <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-3 i-color"></i>
        <h3>Web Dev.</h3>
        <p>Designing and writing code for server-side, client-side, and operator-side applications. This involves implementing the necessary features and functionalities as per the project requirements.</p>
    </div>
</div>


<!--ROW--2-->
<div class="row text-center text-white">
    <div class="col-sm-4">
        <i class="fab fa-android fa-2x mb-3 i-color"></i>
        <h3>Android</h3>
        <p>Expertise in creating and maintaining applications for the Android mobile operating system. They are responsible for designing, developing, testing, and implementing Android applications that run on a variety of devices, such as smartphones, tablets, smartwatches, and smart TVs.</p>
    </div>
    <div class="col-sm-4">
        <i class="fab fa-apple fa-2x mb-3 i-color"></i>
        <h3>iOS</h3>
        <p>Highly skilled iOS Developer with [1 year] of experience in designing and developing cutting-edge mobile applications for iOS devices. Proficient in Swift and Objective-C, with a strong understanding of Apple's iOS SDK and Xcode IDE. Adept at collaborating with cross-functional teams to deliver robust and user-friendly apps. Demonstrated track record of creating innovative and successful iOS applications that have garnered high user ratings and downloads.</p>
    </div> <div class="col-sm-4">
        <i class="fas fa-bullhorn fa-2x mb-3 i-color"></i>
        <h3>Advertising</h3>
        <p>A highly skilled and result-driven Advertisement Professional with [2] years of experience in creating compelling marketing campaigns and driving brand awareness. Possessing a strong understanding of consumer behavior and market trends, I am adept at strategizing and executing successful advertising initiatives across various media channels. Seeking to leverage my expertise to contribute to the growth and success of a dynamic organization</p>
    </div>
</div>


<!--ROW--3-->
<div class="row text-center text-white">
    <div class="col-sm-4">
        <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
        <h3>Logo Design</h3>
        <p>A logo designer is a professional who specializes in creating visual representations of a brand, company, product, or organization. The primary goal of a logo designer is to design a unique and memorable logo that effectively communicates the essence, values, and identity of the entity it represents.</p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-database fa-2x mb-3 i-color"></i>
        <h3>Hosting</h3>
        <p>Hosting in website development refers to the process of making a website accessible to users over the internet by storing its files, data, and content on a web server. When you create a website, the files that make up the website, such as HTML, CSS, JavaScript, images, and other media, need to be stored on a server so that anyone with an internet connection can access and view the website.</p>
    </div> <div class="col-sm-4">
        <i class="fas fa-headset fa-2x mb-3 i-color"></i>
        <h3>Support</h3>
        <p>Support is a crucial aspect of website development and plays a significant role in ensuring the smooth functioning and continuous improvement of a website. In website development, a support developer or support team is responsible for assisting users, fixing issues, maintaining the website's stability, and providing timely responses to inquiries and feedback.</p>
    </div>
</div>
</div>
{% endblock content  %}